
.line {
    height: 40px;
    width: 100%;
    display: block;
    margin: 10px 0;
    position: relative;
}

.line img {
    width: 180px;
    height: 220px;
    display: inline-block;
}

.line .left {
    position: absolute;
    left: 10%;

}

.line .right {
    position: absolute;
    left: 50%;
}

.line span {
    font-size: 15px;
    text-align: center;
    line-height: 40px;
    margin: 0 10px;
    width: 120px;
    display: inline-block;
}

.line input {
    height: 30px;
    margin-left: 5px;
}

.bt {
    position: relative;
    height: 100px;
    width: 100%;
    bottom: 10px;
}

.bt button {
    position: absolute;
    left: 72%;
    margin-top: 50px;
    margin-bottom: 50px;
}