form ul {
    width: 100%;
    overflow: hidden;
}

form ul li {
    float: left;
}

form ul li img {
    margin: 5px 5px;
    display: block;
    height: 220px;
    width: 180px;
}

form ul li .input {
    position: relative;
    height: 30px;
    width: 100px;
}

form ul li .input input {
    position: absolute;
    zoom: 150%;
    left: 60px;
}

button {
    display: block;
}