.content form .contentandpic{
    overflow: hidden;
}

.content #content {
    float: left;
}



.content .box {
    width: 370px;
    height: 415px;
    float: left;
    margin: auto 70px ;

    /*background: #808080;*/
}

.content .box img {
    width: 370px;
    height: 415px;
}


.content form .error {
    margin-left: 30px;
    color: red;
}


.content form .info {
    width: 150px;
    height: 20px;
    line-height: 20px;
    margin: 5px 0;
    display: inline-block;
}
.content form input {
    margin-left: 40px;
}
.content form button{
    margin: 10px 150px;
}