
/*.wrapper .content .top button {*/
    /*margin-top: 20px;*/
/*}*/

.content ul {
    width:100%;
}

.content ul li {
    height: 40px;
    line-height: 40px;
    margin: 2px 0;
}

.content ul li .title{
    width: 300px;
    display: inline-block;
    font-size: 16px;
    margin-left: 30px;
}

.content ul li .name{
    width: 700px;
    display: inline-block;
    font-size: 16px;
}

.content ul li .name a {
    text-decoration: none;
}