{% extends "base.html" %}

{% block title %}
    添加前言图片
{% endblock %}

{% block content %}
    <div class="top">
        <span>添加前言图片</span>
    </div>

    <form action="" method="post"  enctype="multipart/form-data">
        <p style="margin-top: 20px">请输入前言页面的页码</p>
        <input type="text" name="sn">
        <p style="margin-top: 20px">请选择要上传的图片</p>
        <input type="file" name="user" style="text-align: center;margin: 30px 0;">
        <p style="margin-top: 20px;color: red">{{ message }}</p>
       <button class="btn btn-info">添加</button>
    </form>
{% endblock %}