{% extends "base.html" %}

{% block title %}
    删除前言图片
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for("static",filename="del_user.css") }}">
{% endblock %}

{% block content %}
    <div class="top">
        <span>删除前言图片</span>
    </div>

    <form action="" method="post" enctype="multipart/form-data">
        <ul>
            {% for user in users %}
                <li>
                    <img src="{{ user.path }}" alt="">
                    <div class="input"><input type="checkbox" name="user" value="{{ user.id }}"></div>


                </li>
            {% endfor %}

        </ul>
        <button class="btn btn-info">提交</button>
    </form>
{% endblock %}