{% extends "base.html" %}

{% block title %}
    编辑课文附件
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for("static",filename="edit_attach.css") }}">
{% endblock %}

{% block content %}
     <div id="outerdiv"
         style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
        <div id="innerdiv" style="position:absolute;">
            <img id="bigimg" style="border:5px solid #fff;" src=""/>
        </div>
    </div>

    <div class="top">
        <span>编辑课文附件</span>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
          <div class="contentandpic">
            <p>内容</p>
            {{ ckeditor.create() }}
            {{ ckeditor.config(name="content") }}
            <div class="box">
                <div class="swiper-container">
                    <div class="swiper-wrapper">

                        {% for unit_pic in unit_pics %}
                            <div class="swiper-slide">
                                <img src="{{ unit_pic.path }}" class="pimg" alt="">
                            </div>
                        {% endfor %}

                    </div>
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>


            </div>
        </div>
        <span class="info">课文附件转自</span>
        <input type="text" name="from_name" value="{{ attach.from_name }}">

        <br>
        <span class="info">课文附件类型</span>
        {% if attach.type._value_ == 1 %}
            <input type="text" name="type" list="list" value="1">
        {% elif attach.type._value_ == 2 %}
            <input type="text" name="type" list="list" value="2">
        {% elif attach.type._value_ == 3 %}
            <input type="text" name="type" list="list" value="3">
        {% endif %}

        <datalist id="list">
            <option value="1">课文附件</option>
            <option value="2">词练习</option>
            <option value="3">句练习</option>
        </datalist>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if message.type %}
            {{ message.type }}
        {% endif %}
        <br>
        <span class="info">课文附件页码</span>
        <input type="text" name="sn" value="{{ attach.sn }}">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if message.sn %}
            {{ message.sn }}
        {% endif %}
        <br>
        <p class="info">备注</p>
        <br>
        <textarea name="note" id="" cols="50" rows="10">{{ attach.note }}</textarea>
        <p></p>
        <button class="btn btn-info">保存</button>
    </form>




{% endblock %}