{% extends "base.html" %}

{% block title %}
    编辑课文
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for("static",filename="edit_unit_content.css") }}">
{% endblock %}

{% block content %}
    <div class="top">
        <span>编辑课文</span>
    </div>
    <form action="" method="post" enctype="multipart/form-data"><span class="info">标题</span>
        <input type="text" name="title" value="{{ content.title }}">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        {% if errors.title %}
            {{ errors.title.0 }}
        {% endif %}
        <p>内容</p>
        <textarea name="content" id="" cols="50" rows="10">{{ content.content }}</textarea></textarea>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        {% if errors.content %}
            {{ errors.content.0 }}
        {% endif %}
        <br>
        <span class="info">转自</span>
        <input type="text" name="content_from_name" value="{{ content.content_from_name }}">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        {% if errors.content_from_name %}
            {{ errors.content_from_name.0 }}
        {% endif %}
        <br>
        <span class="info">课文前缀</span>
        <input type="text" name="content_prefix" value="{{ content.content_prefix }}">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        {% if errors.content_prefix %}
            {{ errors.content_prefix.0 }}
        {% endif %}
        <br>
        <span class="info">课文原文链接</span>
        <input type="text" name="content_origin" value="{{ content.content_origin }}">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        {% if errors.content_origin %}
            {{ errors.content_origin.0 }}
        {% endif %}
        <br>
        <span class="info">课文类型</span>
        {% if content.content_type._value_ == 3 %}
            <input type="text" name="content_type" list="datalist" value="3">
        {% elif content.content_type._value_ == 1 %}
            <input type="text" name="content_type" list="datalist" value="1">
        {% elif content.content_type._value_ == 2 %}
            <input type="text" name="content_type" list="datalist" value="2">
        {% endif %}
        <datalist id="datalist">
            <option value="1">精读</option>
            <option value="2">泛读</option>
            <option value="3">复习</option>
        </datalist>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        {% if errors.content_type %}
            {{ errors.content_type.0 }}
        {% endif %}
        <br>
        <p class="info">课文页码</p>
        <input type="text" name="sn" value="{{ content.sn }}">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        {% if errors.sn %}
            {{ errors.sn.0 }}
        {% endif %}
        <br>
        <p class="info">课文备注</p>
        <br>
        <textarea name="note" id="" cols="50" rows="10">{{ content.note }}</textarea></textarea>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        {% if errors.note %}
            {{ errors.note.0 }}
        {% endif %}
        <p></p>
        <button class="btn btn-info">提交</button>
    </form>


{% endblock %}