<!DOCTYPE html>
<html>
<head>


    <meta charset="UTF-8">

    <title>登录</title>


    <link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="login.css") }}"/>
</head>

<body>
<!-- 页面主体START -->
<section id="main">
    <h1>教材管理系统</h1>
    <form action="{{ url_for("book.login") }}" method="post" accept-charset="utf-8" data-view="loginView">

        <div class="clearfix" data-propertyname="username" data-controltype="Phone">
            <input type="text" placeholder="输入用户名" id="user_name" name="username" placeholder=""
                   data-required="required"
                   autocomplete="off">
        </div>

        <div class="clearfix" data-propertyname="password" data-controltype="Password">
            <input type="password" id="" name="password" placeholder="输入密码" data-required="required" autocomplete="off">
        </div>

        <span style="color: red; height:15px">{{ message }}</span>

        <div class="clearfix btn_login" data-propertyname="submit" data-controltype="Botton">
            <input type="submit" value="登录">
        </div>


        <div class="clearfix goregister">
            <span class="reg_now">没有帐号？</span>
            <a href="{{ url_for("book.register") }}">注册</a>
        </div>
    </form>
</section>


</body>
</html>
