<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">

    <title>注册</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="register.css") }}"/>
</head>
<body>

<!-- 页面主体START -->

<input type="hidden" value="false" id="isVisiable_request_form_verifyCode"/>
<input type="hidden" value="true" id="is_must_show_verify_code"/>

<section id="main">
    <h1>注册</h1>
    <form action="{{ url_for("book.register") }}" method="post" accept-charset="utf-8" data-view="phoneRegister">

        <div >
            <input type="text" id="" name="username" placeholder="请输入用户名" data-required="required" autocomplete="off">
        </div>


        <div class="clearfix" data-propertyname="password" data-controltype="Password">
            <input type="password" id="" name="password" placeholder="请输入密码" data-required="required" autocomplete="off">
        </div>

        <div class="clearfix btn_login" data-propertyname="submit" data-controltype="Botton">
            <input type="submit" value="注册">
        </div>

        <div class="clearfix goregister">
            <span class="reg_now">已有帐号</span>
            <a href="{{ url_for("book.login") }}">登录</a>
        </div>

    </form>
</section>



</body>
</html>
