<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link rel="stylesheet" href="test.css">
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="test.js"></script>
</head>
<body>
<div class="lunbo-wrapper">
    <div class="wrapper-box">
        <div class="leftji">
            <span>〈</span>
        </div>
        <div class="img-wrapper">
            <div class="img-box">
                <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=1409224092,1124266154&fm=26&gp=0.jpg" alt="">
                <img src="https://img02.sogoucdn.com/app/a/100520021/eba4fe22d6cdc7d6a11fd54c0c3d8734" alt="">
                <img src="https://img04.sogoucdn.com/app/a/100520021/62ddec478c6a1b630e6706005f89effa" alt="">
                <img src="https://img01.sogoucdn.com/app/a/100520021/1719a7a3398b0fcf676888844a58fed5" alt="">
                <img src="https://img04.sogoucdn.com/app/a/100520021/390b19e5c452760bfe1b01f23e4c6437" alt="">
                <img src="https://img04.sogoucdn.com/app/a/100520021/e63bedf7f18ae741aa2429edc9114bf9" alt="">
                <img src="https://img04.sogoucdn.com/app/a/100520021/e63bedf7f18ae741aa2429edc9114bf9" alt="">
                <img src="https://img04.sogoucdn.com/app/a/100520021/e63bedf7f18ae741aa2429edc9114bf9" alt="">
                <img src="https://img04.sogoucdn.com/app/a/100520021/e63bedf7f18ae741aa2429edc9114bf9" alt="">
                <img src="https://img04.sogoucdn.com/app/a/100520021/e63bedf7f18ae741aa2429edc9114bf9" alt="">
            </div>
        </div>
        <div class="rightji">
            <span>〉</span>
        </div>

    </div>
    <div class="tongji">
    </div>
</div>
</body>
</html>