{% extends "base.html" %}

{% block title %}
    添加课文
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for("static",filename="add_unit_content.css") }}">
{% endblock %}


{% block content %}
     <div id="outerdiv"
         style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
        <div id="innerdiv" style="position:absolute;">
            <img id="bigimg" style="border:5px solid #fff;" src=""/>
        </div>
    </div>
    <div class="top">
        <span>添加课文</span>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
        <div class="contentandpic">
            <p>内容</p>
            <textarea name="content" id="content" cols="50" rows="20"></textarea></textarea>
            <div class="box">
                <div class="swiper-container">
                    <div class="swiper-wrapper">

                        {% for unit_pic in unit_pics %}
                            <div class="swiper-slide">
                                <img src="{{ unit_pic.path }}" class="pimg" alt="">
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>


        <span class="info">课文序号</span>
        <input type="text" name="content_id">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        {% if errors.content_id %}
            {{ errors.content_id.0 }}
        {% endif %}

        <br>
        <span class="info">标题</span>
        <input type="text" name="title">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        {% if errors.title %}
            {{ errors.title.0 }}
        {% endif %}
        <br>
        <span class="info">转自</span>
        <input type="text" name="content_from_name">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        {% if errors.content_from_name %}
            {{ errors.content_from_name.0 }}
        {% endif %}
        <br>
        <span class="info">课文前缀</span>
        <input type="text" name="content_prefix">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        {% if errors.content_prefix %}
            {{ errors.content_prefix.0 }}
        {% endif %}
        <br>
        <span class="info">课文原文链接</span>
        <input type="text" name="content_origin">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        {% if errors.content_origin %}
            {{ errors.content_origin.0 }}
        {% endif %}
        <br>
        <span class="info">课文类型</span>
        <input type="text" name="content_type" list="list">
        <datalist id="list">
            <option value="1">精读</option>
            <option value="2">泛读</option>
            <option value="3">review</option>
        </datalist>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        {% if errors.content_type %}
            {{ errors.content_type.0 }}
        {% endif %}
        <br>
        <p class="info">课文页码</p>
        <input type="text" name="sn">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        {% if errors.sn %}
            {{ errors.sn.0 }}
        {% endif %}
        <br>
        <p class="info">课文备注</p>
        <br>
        <textarea name="note" id="" cols="50" rows="10"></textarea>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        {% if errors.note %}
            {{ errors.note.0 }}
        {% endif %}
        <p></p>

        <button class="btn btn-info">添加</button>
    </form>




{% endblock %}