{% extends "base.html" %}

{% block title %}
    删除单元
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for("static",filename="del_unit.css") }}">
{% endblock %}

{% block content %}
    <div class="top">
        <span>删除单元</span>
    </div>

    <form action="" method="post">
        <ul>
            {% for unit in units %}
                <li>
                    <input type="checkbox" name="unit" value="{{ unit.unit_id }}">
                    <span>第{{ unit.unit_id }}单元</span> <span>{{ unit.name }}</span>
                </li>
            {% endfor %}

        </ul>

        <div class="bt">
            <button type="submit" class="btn btn-danger">删除</button>
        </div>
    </form>
{% endblock %}