<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>操作成功</title>
    <script language="javascript" type="text/javascript">
        var i = 2;
        var intervalid;
        intervalid = setInterval("fun()", 1000);

        function fun() {
            if (i == 0) {
                window.location.href = "{{ path }}";
                clearInterval(intervalid);
            }
            document.getElementById("mes").innerHTML = i;
            i--;
        }
    </script>
</head>
<body>
<div id="errorfrm">
    <h3>操作成功</h3>
    <div id="error">
        <p>将在 <span id="mes" >3</span> 秒钟后返回管理页面</p>
    </div>

</div>
</body>
</html>

