{% extends "base.html" %}

{% block title %}
    课文管理
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for("static",filename="unit_content_manage.css") }}">
{% endblock %}

{% block content %}
    <div class="top">
        <div class="mianbaoxie">
            <ul id="breadcrumb">
                <li><a href="javascript:volid(0);"></a></li>
                <li><a href="{{ url_for("book.book_list",page=1) }}">教材管理</a></li>
                <li><a href="{{ url_for("book.unit_manage",book_id=book.book_id) }}">{{ book.name }}</a></li>
                <li><a href="">第{{ unit.unit_id }}单元</a></li>
            </ul>
        </div>
        <div class="anniu">
            <a href="{{ url_for("book.add_unit_content",unit_id=unit_id) }}">
                <button class="btn btn-info pull-right">添加课文</button>
            </a>
            <a href="{{ url_for("book.del_unit_content",unit_id=unit_id) }}">
                <button class="btn btn-danger pull-right">删除课文</button>
            </a>
        </div>


    </div>

    <ul>
        {% for content in contents %}
            <li>
                <div class="title">第&nbsp;&nbsp;{{ content.content_id }}&nbsp;&nbsp;篇课文</div>
                <div class="name"><a
                        href="{{ url_for("book.content_detail",content_id=content.id) }}">{{ content.title }}</a>
                </div>
            </li>
        {% endfor %}

    </ul>




{% endblock %}